<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Meadowlark Travel</title>
</head>
<body>

	<header><img src="/img/logo.jpg" alt="your wildest dreams will come true"></header>
	{{{body}}}

	
</body>
</html>